<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Entrar</title> <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/form_register_and_login.css">
    </head>

<body>

    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li id="nav-login"></li>
            </ul>
        </nav>    
    </header>

    <div id="divForm">
        <form id="loginForm" action="/user/token" method="POST">
            <h2><span style="color: blue">Entrar</span></h2> <div>
                <label for="username">Username:</label>
                <input id='username' type="text" name="username" required placeholder="test"/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input id='password' type="password" name="password" required placeholder="test"/>
            </div>
            <button type="submit" class="button">Entrar</button>
            <p id="errorMessage" style="display: none; color: red; margin-top: 10px;"></p> <p style="margin-top: 20px; margin-bottom: 10px;">Não possui cadastro?</p> <button type="button" id="register" class="button">Cadastre-se</button> </form>
    </div>

    <script src="/static/js/nav-logged-user.js"> </script>
    <script src="/static/js/validation.js"></script>
    </body>

</html>
