<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Perfil</title>
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="styleSheet" href="/static/css/profile.css">
  </head>
  <body>

    <header>
     <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li id="nav-login"></li>
      </ul>
     </nav> 
    </header>

    <h1 id='user-info'></h1>
    <img id="profile-picture" src="">
    <p>Este é o seu Perfil.</p>

    <div>
      <h3>Livros Adicionados: </h3>
      <p id="number_of_books"></p>
    </div>

    <h3>Livros:</h3>
    <div id="created_books"> </div>

    <div>
      <label for="create_book">Adicionar livro </label>
      <button type="click" color='red'>Novo</button>
    </div>

    <div>
      <button type="click" id="logout">Logout</button>
    </div>


    <script src="/static/js/nav-logged-user.js"> </script>
    <script src="/static/js/profile.js"> </script>
  </body>
</html>
