<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/static/css/form_register_and_login.css">
    <link rel="stylesheet" href="/static/css/header.css">
  </head>
  <body>
  
    <header>
     <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li> <a href="/user/login"> Login</a></li>
        <li><a href="/user/register">Registra-se</a></li>
      </ul>
     </nav> 
    </header>

    <div id='divForm'>
      <form id="loginForm">
      <h2><span style="color: blue">Registra-se</span></h2>
        <div>
          <label for="username">Username:</label> 
          <input type="text" name="username" id="username" required>
        </div>
        <div>
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" required>
        </div>
        <div>
          <label for="password">Password:</label>
          <input type="password" name="password" id="password" required>
        </div>
        <button type="submit" class="button">Cadastra-se</button>
        <p id="errorMessage" style="display: none"></p>
      </form>
    </div>

    <script src='/static/js/register.js'> </script>
  </body>
</html>
