<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Registrar - Acervo de Livros</title>
  <link rel="stylesheet" href="/static/css/header.css">
  <link rel="stylesheet" href="/static/css/form_register_and_login.css">
</head>

<body>
  
  <header>
    <nav>
      <div class="nav-brand" id="home">📚Acervo de Livros</div>
      <ul>
        <li id="nav-login"></li>
      </ul>
    </nav>
  </header>

  <main id="divForm">
    <form id="registerForm" autocomplete="off">
      <h2>Registrar</h2>
      
      <div class="input-group">
        <label for="username">Usuário</label> 
        <input type="text" name="username" id="username" required placeholder="Escolha um nome de usuário">
      </div>
      
      <div class="input-group">
        <label for="email">E-mail</label>
        <input type="email" name="email" id="email" required placeholder="Seu melhor e-mail">
      </div>
      
      <div class="input-group">
        <label for="password">Senha</label>
        <input type="password" name="password" id="password" required placeholder="Crie uma senha segura">
      </div>
      
      <button type="submit" class="button button-primary">Cadastrar</button>
      
      <p id="errorMessage" class="error-message" aria-live="polite"></p>
    </form>
  </main>

  <script src="/static/js/nav-logged-user.js"></script>
  <script src="/static/js/register.js"></script>
</body>

</html>
