.modal {
  display: none;
  /* Escondido por padrao*/
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /*  Fundo escuro transparente */

  transition: opacity 0.3 ease;
}

.modal.show {
  display: block;
  opacity: 1;
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  border-radius: 8px;
  box-sizing: border-box;
}

label {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  margin-bottom: 0;
  width: 30%;
}

input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  /* Garante que os inputs ocupem toda a largura disponível */
}

.close {
  float: right;
  font-size: 25px;
  cursor: pointer;
  color: #333;
  padding: 5px;
}

.close:hover {
  color: red;
}

.close-edit-book {
  float: right;
  font-size: 25px;
  cursor: pointer;
  color: #333;
  padding: 5px;
}

.close-edit-book:hover {
  color: red;
}

#open-modal {
  padding: 10px 15px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  width: auto;
}

#open-modal:hover {
  background-color: greenyellow;
}

#book-form {
  display: flex;
  flex-direction: column;
  /* Faz o formulário ocupar 1 coluna */
  gap: 15px;
  /* Espaço entre os campos */
}

@media (max-width: 768px) {
  .modal-content {
    width: 80%;
    /* Torna o modal mais estrito em dispositivos moveis*/
  }

  .form-container {
    gap: 10px;
    /* menos espaco entre os campos em telas menores*/
  }
}
