.modal {
  display: none;
  /* Escondido por padrao*/
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /*  Fundo escuro transparente */

  transition: opacity 0.3 ease;
}

.modal.show {
  display: block;
  opacity: 1;
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  border-radius: 8px;
}

.close {
  float: right;
  font-size: 25px;
  cursor: pointer;
  color: #333;
  padding: 5px;
}

.close:hover {
  color: red;
}


@media (max-width: 768px) {
  .modal-content {
    width: 80%;
  }
}
