body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f5;
}

header{
  background-color: #363636;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
header ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
header li{
  margin-right: 20px;
}
header a:hover{
  color: #fff;
  text-decoration: underline;
}


nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
nav ul li{
  margin-left: 20px;
}
nav ul li a {
  color: #FFF;
  text-decoration: none;
  font-size: 16px;
}
nav a{
  color: #FFF;
  text-decoration: none;
  margin-right: 15px;
}
nav ul li a:houver {
  text-decoration: underline;
}


main{
  padding: 20px;
}


#books-container{
  display: grip;
  grip-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.book{
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.book:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}
.book h3{
  font-size: 16px5;;
  margin: 10px 0 5px;
  margin: 10px 0 5px;
}
.book p{
  font-size: 14px;
  margin: 0;
}


#pagination{
  margin-top: 20px;
  text-align: center;
}
#pagination button{
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
#pagination button:hover{
  background-color: #444;
}
#pagination button:disabled {
  background-color: #555;
  cursor: not-allowed;
}
