body {
  margin: 0;
  background: linear-gradient(to right, #4a90e2, #4b443a);
}


#books-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.book {
  border: 1px solid #ccc;
  padding: 10px;
  width: 80%;
  height: 200px;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.book:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}

.book h3 {
  font-size: 16px5;
  ;
  margin: 10px 0 5px;
  margin: 10px 0 5px;
}

.book p {
  font-size: 14px;
  margin: 0;
}


#pagination {
  margin-top: 20px;
  text-align: center;
}

#pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

#pagination button:hover {
  background-color: #444;
}

#pagination button:disabled {
  background-color: #555;
  cursor: not-allowed;
}



