.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);

  transition: opacity: 0.3 ease;
}

.modal-content{
  background-color: white;
  width: 90%;
  height: 80%;
  margin: 10% auto;
  border: 8px;
  box-sizing: border-box;
  border-radius: 6px;
  /* padding: 15px; */
}

.close {
  float: right;
  font-size: 25px;
  padding: 10px 10px;
  cursor: pointer;
}

.close:hover {
  color: red;
}

.modal-body{
  display: flex;
  flex-direction:row;
  align-items: flex-start;
  padding: 20px;
  gap: 30px;
}

.book-details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#title {
  margin-top: 30px;
  margin-left: 30px;
  clear: both;
}

#cover {
  height: 350px;
  width: 310px;
  padding: 8px;
  margin-left: 30px;
}

#download a{
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
  box-sizing: border-box;
  color: red;
  cursor: pointer;
  padding: 50px;
  width: 50%;
}
