<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Acervo de Livros</title>
    <link href="/static/css/home.css" rel="stylesheet">
  </head>
  <body>
    <header>
     <nav>
      <ul>
        <li> <a href="/user/login"> Login</a></li>
        <li><a href="">Registra-se</a></li>
      </ul>
     </nav> 
    </header>
    <main>

      <h1>Bem-vindo ao Acervo de Livros</h1>
      <div id="books-container">
        <!-- livros carregados dinamicamente -->
      </div>
      <div id="pagination">
        <!-- botoes de navegacao -->
      </div>

    </main>

    <script src="static/js/home.js"> </script>
  </body>
</html>
