<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Acervo de Livros</title>
  <link href="/static/css/home.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/header.css">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li id="nav-login"></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Bem-vindo ao Acervo de Livros</h1>
    <div id="books-container">
      <!-- livros carregados dinamicamente -->
    </div>
      <!-- botoes de navegacao -->
    </div>
    <div id="pagination">
  </main>

  <div id="inf-modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2 id="title"></h2>

      <div class="modal-body">
        <img src="" id="cover">
          
        <div class="book-details">
          <h3 id="author"></h3>
          <h3 id="year"></h3>
          <p id="sinopse"></p>

        <div id="download">
          <a href="" id="link" target='_blank'>Baixar</a>
        </div>

        </div>
      </div>
    </div>
  </div>

  <script src="/static/js/nav-logged-user.js">
  </script>
  <script src="static/js/home.js"> </script>
  <script src="static/js/home_book.js"> </script>
</body>

</html>
